[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=League of Legends
Comment=
Exec=leagueoflegends
Icon=${SNAP}/meta/gui/leagueoflegends.png
Categories=Game;
Terminal=false
StartupNotify=true
StartupWMClass=LeagueClient.exe
Keywords=game
